<div id="rand-movie">
  <h2><%= @title %></h2>
  <ul>
    <li><%= @rating %></li> <li>"<%= @synopsis %>"</li>
  </ul>
  <img src=<%= @poster %> />
</div>

<div classname="api-source">API Provided by The Movie DB</div>
